@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background-color: #2563EB;
  color: white;
}

